<!--右边框框 4 开始-->
<div class="span-6 last">
  <div class="second">
    <div class="buy"><img src="/assets/tubiao3.png" width="47" height="34"><span class="box1-caption"><%= I18n.t("layouts.application.buy")%></span>
      <hr class="none"/>
      <div class="buy-img">
        <center>
          <%= link_to image_tag("buy.png",:width=>"196",:height=>"88"), buy_articles_path %>
        </center>
      </div>
    </div>
  </div>
</div>
<!--右边框框 4 结束-->