<div class="span-6 last">
    <div class="second">
      <div class="buy">
        <%=image_tag "QA.png", :width=>"46", :height=>"37"%>
        <span class="box1-caption"><%= I18n.t("layouts.application.faq")%></span>
        <hr class="none"/>
        <div class="buy-img">
          <center>
            <%= link_to image_tag("FAQ.png",:width=>"196",:height=>"88"), support_articles_path %>
          </center>
        </div>
      </div>
    </div>
</div>