<!--右边框框 1 开始-->
  <div class="span-6 last">
    <div class="box1">
      <%=image_tag "tubiao1.png", :width=>"47",:height=>"34"%>
      <span class="box1-caption">Online反馈</span>
      <hr class="none"/>
      <div class="box-padding-top">
        <center>
          <%= link_to (image_tag "ontu.png",:width=>"194",:height=>"77"), support_articles_path%>
        </center>
      </div>
    </div>
  </div>
  <!--右边框框 1 结束-->

  <!--右边框框 2 开始-->
  <div class="span-6 last">
    <div class="second">
      <div class="go">
         <%=link_to (image_tag "search-p.png"), support_articles_path %>
      </div>
    </div>
  </div>
  <!--右边框框 2 结束-->